<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loan Approval Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">Enter your Details for Loan Approval Prediction</div>

    <form action="/submit" method="post" class="form-container">

        <div class="field">
            <label>Gender</label>
            <select name="Gender">
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>

        <div class="field">
            <label>Married</label>
            <select name="Married">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>

        <div class="field">
            <label>Dependents</label>
            <input type="number" name="Dependents" placeholder="0, 1, 2...">
        </div>

        <div class="field">
            <label>Education</label>
            <select name="Education">
                <option>Graduate</option>
                <option>Not Graduate</option>
            </select>
        </div>

        <div class="field">
            <label>Self Employed</label>
            <select name="Self_Employed">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>

        <div class="field">
            <label>Applicant Income</label>
            <input type="number" name="ApplicantIncome" placeholder="Your Income...">
        </div>

        <div class="field">
            <label>Co-Applicant Income</label>
            <input type="number" name="CoapplicantIncome" placeholder="Co-Applicant Income...">
        </div>

        <div class="field">
            <label>Loan Amount</label>
            <input type="number" name="LoanAmount" placeholder="Loan Amount...">
        </div>

        <div class="field">
            <label>Loan Amount Term</label>
            <input type="number" name="Loan_Amount_Term" placeholder="Term in days...">
        </div>

        <div class="field">
            <label>Credit History</label>
            <input type="text" name="Credit_History" placeholder="1 or 0">
        </div>

        <div class="field">
            <label>Property Area</label>
            <select name="Property_Area">
                <option>Urban</option>
                <option>Semiurban</option>
                <option>Rural</option>
            </select>
        </div>

        <div class="submit-area">
            <button type="submit" class="submit-button">Submit</button>
        </div>
    </form>

    <div class="footer"></div>
</body>
                </html>
